body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#bracket, #losers-bracket {
    margin-bottom: 40px;
}

.round {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    position: relative;
    align-items: center;
    min-width: 1500px;
}

.race {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 10px;
    position: relative;
    min-width: 200px;
}

.highlight {
    background-color: orange;
    color: white; /* Pour que le texte soit bien visible sur fond orange */
    border-radius: 5px; /* Pour arrondir les coins de la boîte */
}

.round::before {
    left: 0;
}

.round::after {
    right: 0;
}

.round:nth-child(odd) .race::after {
    right: auto;
    left: -10px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
}

.lists-container {
    display: flex; /* Aligne les éléments enfants en ligne */
    justify-content: space-between; /* Espace entre les deux listes */
}

ul {
    list-style-type: none; /* Enlève les puces */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
    margin-bottom: 20px;
}

.shadow {
    opacity: 0.6;
    color: #888;
}

.pilotlist {
    width: 78%; /* Chaque liste occupe 48% de la largeur du conteneur */
}

.freqs {
    width: 20%; /* Chaque liste occupe 48% de la largeur du conteneur */
}

.pilotlist li{
    text-align: center; /* Centre le texte dans les éléments de la liste */
    margin-bottom: 10px;
    padding: 1px;
}

.freqs li {
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #555;
    text-align: center; /* Centre le texte dans les éléments de la liste */
}

.R1 {
    color: rgb(255, 0, 0); /* Rouge */
    text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8); /* Ombre rouge */
}

.R2 {
    color: rgb(0, 255, 0); /* Vert */
    text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.8); /* Ombre verte */
}

.R3 {
    color: rgb(0, 0, 255); /* Bleu */
    text-shadow: 0px 0px 5px rgba(0, 0, 255, 0.8); /* Ombre bleue */
}

.R4 {
    color: rgb(255, 255, 0); /* Jaune */
    text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.8); /* Ombre jaune */
}

.R5 {
    color: rgb(0, 255, 255); /* Cyan */
    text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.8); /* Ombre cyan */
}

.R6 {
    color: rgb(255, 0, 255); /* Magenta */
    text-shadow: 0px 0px 5px rgba(255, 0, 255, 0.8); /* Ombre magenta */
}

.R7 {
    color: rgb(255, 165, 0); /* Orange */
    text-shadow: 0px 0px 5px rgba(255, 165, 0, 0.8); /* Ombre orange */
}

.R8 {
    color: rgb(128, 0, 128); /* Violet */
    text-shadow: 0px 0px 5px rgba(128, 0, 128, 0.8); /* Ombre violet */
}

.winner {
    text-shadow: 
        1px 1px 2px rgba(255, 215, 0, 0.8), /* Ombre dorée plus proche */
        0 0 25px rgba(255, 215, 0, 0.6), /* Ombre dorée étendue */
        0 0 5px rgba(255, 215, 0, 0.8); /* Ombre dorée intense */
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

